Arduino_7inch/Arduino_7inch/V3.0/libraries.zip
Elecrow - CrowPanel 7.0 Inch - HMI ESP32 Display 800x480 RGB TFT LCD Touch Screen - GS/Elecrow - CrowPanel 7.0 Inch - HMI ESP32 Display 800x480 RGB TFT LCD Touch Screen - GS/EEZ Studio Project Settings.txt
Elecrow - CrowPanel 7.0 Inch - HMI ESP32 Display 800x480 RGB TFT LCD Touch Screen - GS/Elecrow - CrowPanel 7.0 Inch - HMI ESP32 Display 800x480 RGB TFT LCD Touch Screen - GS/Elecrow - CrowPanel 7.0 Inch - HMI ESP32 Display 800x480 RGB TFT LCD Touch Screen - Getting Started.txt
